.card {
    border-color: black;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    width: 100%;
}

.btn {
    border-radius: 0%;
    color:black;
    background-color: rgb(195, 201, 201);
    height: 60px;
}


.seleccionada {
    background-color: rgb(233, 199, 199);
}

.noSeleccionada {
    background-color: white;
}